#列表
{% set list=['one','three']%}
{% for i in list %}
   {% if i == 'two' %}
   echo 2
   {% elif i == 'three' %}
   echo 3
   {% endfor %}
{% endfor %}
{{hello}}

#字典
{% set dict={'zhangsna': 26, 'list': 25} %}

{% for key, value in dict.iteritems() %}
   {{key}} -> {{value}}
{% endfor %}

